<p id="notice"><%= notice %></p>
<%if params[:search] %>
<h1>Showing results for: <%= params[:search] %></h1>
<%else%>
<h1>All Articles</h1>
<%end%>

<% count = 0 %>
<% @articles.each do |article| %>
  <% if count <10 %>
    <%= render partial: 'index_articles', locals: {article: article} %>
    <% unless params[:search] %>
      <% count = count + 1 %>
    <% end %>
  <% end %>
<% end %>
<% if @articles.any? && !params[:search] %>
  <%= form_tag(articles_path, :method => "get", id: "next_button") do %>
            <%= text_field_tag :next, params[:next], placeholder: "Enter page number" %>
            <%= submit_tag "Search" %>
          <% end %>
<% end %>