<p id="notice"><%= notice %></p>

<h1>All Articles</h1>

<%= form_tag(articles_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
  <%= submit_tag "Search" %>
<% end %>

<%= params[:search] %>

<!--div class="digg_pagination"-->
    <div class="page_info">
      <!--%= page_entries_info @posts %-->
    </div>
  <!--%= will_paginate %-->
<!--/div-->
<% count = 0 %>
<% @articles.each do |article| %>
  <% if count <10 %>
    <%= render partial: 'index_articles', locals: {article: article} %>
    <% count = count + 1 %>
  <% end %>
<% end %>
<% @articles = @articles.drop(10) %>
<% if @articles.any? %>
  <%= link_to "Next", 'articles', locals: {@articles => @articles} %>
<% end %>